<!-- Paciente -->
<div class="turnero-card-container">
    <div class="turnero-badge verde">Primer llamado</div>
    <div class="turnero-card-img cyan">
        <div class="icon-andes-paciente turnero-icon baseline cyan"></div>
    </div>
    <div class="turnero-card-prefix cyan texto">Paciente</div>
    <div class="turnero-card-titulo">Santarelli<span>Marco Antonio</span></div>
    <hr class="gris xxs">
<!-- Consultorio -->
    <div class="turnero-card-prefix uppercase cyan texto">Consultorio</div>
    <div class="turnero-card-numero">2</div>
    <hr class="gris xxs">
<!-- Profesional -->
    <div class="turnero-card-img magenta">
        <div class="icon-andes-profesional turnero-icon baseline magenta"></div>
    </div>
    <div class="turnero-card-prefix magenta texto">Profesional</div>
    <div class="turnero-card-subtitulo ">Cifuentes,<span>Juan Carlos</span></div>
</div>
